*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'gilroy';
}

html, body{
    height: 100%;
    width: 100%;
}

body{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: cornflowerblue;
}

#card{
    border-radius: 10px;
    background-color: white;
    height: 400px;
    width: 350px;
    padding: 30px;
    text-align: center;
}

#card img{
    height: 55%;
    width: 100%;
    object-fit: cover;
    object-position: center;
    border-radius: 10px;
}

#card h1{
    font-size: 25px;
    font-weight: 800;
    margin: 10px 0px;
}

#card h5{
    font-size: 20px;
    color: red;
    margin-bottom: 20px;
}

#card button{
    background-color: cadetblue;
    color: white;
    font-weight: 700;
    padding: 12px 20px;
    border-radius: 10px;
    border: none;
    margin: 5px;
    cursor: pointer;
}

#card #remove{
    background-color: rgb(218, 218, 218);
    color: black;
}