*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'gilroy';
}

html, body{
    height: 100%;
    width: 100%;
}

body{
    background-color: rgb(15, 200, 200);
    display: flex;
    align-items: center;
    justify-content: center;
}

#card{
    height: 480px;
    width: 300px;
    background-color: whitesmoke;
    border-radius: 15px;
    overflow: hidden;
    border: 3px solid black;
    position: relative;
}

#storiyan{
    height: 120px;
    width: 100%;
    border-bottom: 1px solid black;
    padding: 15px;
    white-space: nowrap;
    overflow-x: auto;
    overflow-y: hidden;
}

#storiyan::-webkit-scrollbar{
    display: none;
}

.story{
    border: 3px solid red;
    height: 90px;
    border-radius: 50%;
    width: 90px;
    overflow: hidden;
    display: inline-block;
    margin-right: 5px;
}

.story img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center;

}

#full-screen{
    height: 100%;
    width: 100%;
    background-size: cover;
    background-position: center;
    position: absolute;
    display: none;
}